<div class="container">
  <div class="ui-g">

      <div class="ui-g-12">
        <h1>Tabela de Transferência de Propriedade de Veículo </h1>
      </div>

      <div class="card">

        <p-table [value]="cadastros" [paginator]="true" [rows]="3" [showCurrentPageReport]="true"
            currentPageReportTemplate="" [rowsPerPageOptions]="">
            <ng-template let-cadastro pTemplate="header">
              <tr>
                <th>Placa</th>
                <th>Chassi</th>
                <th>Renavam</th>
                <th>Nome do Adquirente</th>
              </tr>
            </ng-template>
            <ng-template let-cadastro pTemplate="body" >
              <tr>
                <p-header field="placa" header="Placa" ></p-header>
                    <td>oi</td>
                    <td>{{cadastro.formulario}}</td>
                    <td>{{cadastro.renavam}}</td>
                    <td>{{cadastro.placa}}</td>
                </tr>
            </ng-template>
            <ng-template  pTemplate="paginatorleft">

            </ng-template>
            <ng-template let-cadastro="rowData" pTemplate="paginatorright">
              <p-button type="button" icon="pi pi-pencil" styleClass="p-button-text"></p-button>
              <p-button type="button" icon="pi pi-trash" styleClass="p-button-text"></p-button>
              <p-button type="button" icon="pi pi-file" styleClass="p-button-text" (click)="transferenciaPdf(cadastro)"></p-button>
            </ng-template>
        </p-table>
    </div>


    <div class="ui-g-6 ui-md-12">
      <a pButton label="Nova Transferencia" routerLink="/formulario"></a>
    </div>

  </div>

</div>
