<div class="container">
  <div class="ui-g">

      <div class="ui-g-12">
        <h1>Tabela de Transferência de Propriedade de Veículo </h1>
      </div>

  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-12">
      <p-dataTable [value]="cadastros" [rows]="3" [paginator]="true">

        <p-column field="placa" header="Placa"></p-column>
        <p-column field="chassi" header="Chassi"></p-column>
        <p-column field="renavam" header="Renavam"></p-column>
        <p-column field="nomeAdquirente" header="Nome do Adquirente"></p-column>

        <p-column styleClass="col-acoes">
          <ng-template let-cadastro="rowData" pTemplate="body">

            <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/formulario', cadastro.id]"></button>
            <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top" (click)="excluir(cadastro.id)"></button>
            <button pButton icon="fa-file" pTooltip="Gerar PDF" tooltipPosition="top" (click)="transferenciaPdf(cadastro)"></button>
            <!-- <button pButton icon="fa-download" pTooltip="Abrir PDF" tooltipPosition="top" (click)="abrirPDF(cadastro)"></button> -->
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Transferencia" routerLink="/formulario"></a>
    </div>

  </div>

</div>
