<div class="container">
  <div class="p-field p-fluid p-formgrid p-grid">

      <div class="p-field p-col-12 p-md-12">
        <h3>Dados do Veiculo</h3>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Placa</label>
        <p-inputMask type="text" mask="a**-9*99" name="placa" #placa [(ngModel)]="formulario.placa" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Chassi</label>
        <p-inputMask type="text" mask="*****************" name="chassi" #chassi [(ngModel)]="formulario.chassi" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Renavam</label>
        <p-inputMask type="text" mask="99999999999" name="renavam" #renavam [(ngModel)]="formulario.renavam" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Valor Recebido</label>
        <p-inputNumber mode="decimal" locale="de-DE" [minFractionDigits]="2"
          #valorRecebido [(ngModel)]="formulario.valorRecebido" required></p-inputNumber>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Data Aquisição:</label>
        <p-inputMask type="text" name="DataAquisicao" mask="99999999" dateFormat="dd/mm/yy" #dataAquisicao [(ngModel)]="formulario.dataAquisicao" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Numero CRV</label>
        <p-inputMask type="text" name="crv" mask="999999999999"
          #numeroCRVariavel [(ngModel)]="formulario.numeroCRV"></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Data do Leilão:</label>
        <p-inputMask type="text" name="leilao" mask="99999999" #dataLeilao [(ngModel)]="formulario.dataLeilao"></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>UF de Origem</label>
        <p-inputMask type="text" name="uf" mask="" #cilindros [(ngModel)]="formulario.ufOrigem" required></p-inputMask>
      </div>

      <div class="p-field p-col-12">
        <h3>Dados do Adquirente/Arrendatário</h3>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Nome do Adquirente/Arrendatário:</label>
        <p-inputMask name="nomeAd" mask="" #nomeAdquirente [(ngModel)]="formulario.nomeAdquirente" required></p-inputMask>
      </div>

      <div class="p-field p-col-3 p-md-1">
        <label>CNPJ</label>
       <input pInputText type="text" name="cnpj" #cnpj [(ngModel)]="formulario.cnpj" readonly="readonly" required>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>CNPJ do Adq./Arrendatário:</label>
        <p-inputMask type="text" mask="99999999999999" name="cnpjNu" #cnpjNumero [(ngModel)]="formulario.cnpjNumero" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Município do Emplacamento:</label>
        <p-inputMask type="text" mask="" name="municipio" #cnpjNumero [(ngModel)]="formulario.municipioEmplacamento" required></p-inputMask>
      </div>

      <div class="p-field p-col-12">
        <h3>Endereço do Adquirente/Arrendatário</h3>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>CEP:</label>
        <p-inputMask type="text" mask="99999-999" mask="" name="cep" #cep [(ngModel)]="formulario.cep" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Endereço:</label>
        <p-inputMask type="text" mask="" name="endereco" #endereco [(ngModel)]="formulario.endereco" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-1">
        <label>Numero:</label>
        <p-inputMask name="numeroEd" mask="" #numero [(ngModel)]="formulario.numero" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Complemento:</label>
        <p-inputMask type="text" mask="" name="complemento" #complemento [(ngModel)]="formulario.complemento"></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Bairro:</label>
        <p-inputMask type="text" mask="" name="bairro" #bairro [(ngModel)]="formulario.bairro" required></p-inputMask>
      </div>

      <div class="p-field p-col-12 p-md-12">
        <h3>Endereço para Correspondência</h3>
      </div>

      <div class="p-field p-col-6 p-md-3">
          <label>Endereço de Correspondência igual ao Residencial?</label>
          <input pInputText type="text" name="cnpj" #cnpj [(ngModel)]="formulario.enderecoCorrespondencia" readonly="readonly">
      </div>

      <div class="p-field p-col-12">
        <h3>Dados do Proprietário Anterior</h3>
      </div>

      <div class="p-field p-col-6 p-md-2">
        <label>CPF / CNPJ</label>
        <p-inputMask type="text" name="cpf" mask="" #cnpjNumero [(ngModel)]="formulario.cpf" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>CPF/CNPJ do Proprietário Anterior:</label>
        <p-inputMask type="text" mask="" name="cpfNu" #cpfNumero [(ngModel)]="formulario.cpfNumero" required></p-inputMask>
      </div>

      <div class="p-field p-col-12">
        <h3>Motivo Judicial/Perdimento</h3>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Motivo Judicial/Perdimento:</label>
        <p-inputMask type="text" name="judicial" mask="" #cnpjNumero [(ngModel)]="formulario.motivoJudicial" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Número da Ordem Judicial:</label>
        <p-inputMask type="text" name="ordem" mask="" #cpfNumero [(ngModel)]="formulario.ordemJudicial" required></p-inputMask>
      </div>

      <div class="p-field p-col-12">
        <h3>Modalidade de Financiamento e Dados do Veículo</h3>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Modalidade de Financiamento:</label>
        <p-inputMask type="text" name="financiamento" mask="" #cnpjNumero [(ngModel)]="formulario.financiamento" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Categoria:</label>
        <p-inputMask type="text" name="categ" mask="" #cnpjNumero [(ngModel)]="formulario.categoria" required></p-inputMask>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>N° de Cilindros:</label>
        <p-inputNumber type="text" name="cilindros" #cilindros [(ngModel)]="formulario.cilindros" required></p-inputNumber>
      </div>

      <div class="p-field p-col-6 p-md-3">
        <label>Isento de IPVA:</label>
        <p-inputMask type="text" name="ipva" mask="" #cnpjNumero [(ngModel)]="formulario.ipva" required></p-inputMask>
      </div>


      <div class="p-field p-col-6 p-md-3">
        <label>Atividade:</label>
        <p-inputMask type="text" name="atividade" mask="" #cnpjNumero [(ngModel)]="formulario.atividade" required></p-inputMask>
      </div>

      <div class="p-field p-col-12">
        <h3>Alterar Características do Veículo</h3>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label>Deseja fazer alteração(ões) em alguma(s) característica(s) do veículo?</label>
        <p-inputMask type="text" name="caratc" mask="" #cnpjNumero [(ngModel)]="formulario.alterarCaracteristicas" required></p-inputMask>
      </div>

      <div class="p-field p-col-12 p-md-12"></div>

      <div class="p-field p-col-2 p-md-2">
        <button pButton type="submit" label="Cadastrar" (click)="adicionar(null)"></button>
      </div>
      <div class="p-field p-col-2 p-md-2">
        <button pButton type="submit" label="Salvar" (click)="salvar(null)"></button>
      </div>

  </div>
</div>
