<div class="container">

  <div class="ui-g">

    <div class="ui-g-12">
      <h3>Dados do Veiculo</h3>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>Placa</label>
      <!-- <p-inputMask pInputText [(ngModel)]="formulario.placa" mask="99-9999"></p-inputMask> -->
      <p-inputMask type="text" mask="a**-9*99" name="placa" #placa [(ngModel)]="formulario.placa"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Chassi</label>
      <p-inputMask type="text" mask="*****************" name="chassi" #chassi [(ngModel)]="formulario.chassi"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Renavam</label>
      <p-inputMask type="text" mask="99999999999" name="renavam" #renavam [(ngModel)]="formulario.renavam"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Valor Recebido</label>
      <p-inputNumber mode="decimal" locale="de-DE" [minFractionDigits]="2"
         #valorRecebido [(ngModel)]="formulario.valorRecebido" ></p-inputNumber>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Data Aquisição:</label>
      <p-inputMask type="text" name="DataAquisicao" mask="99999999" dateFormat="dd/mm/yy" #dataAquisicao [(ngModel)]="formulario.dataAquisicao"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Numero CRV</label>
      <p-inputMask type="text" name="crv" mask="999999999999"
        required #numeroCRVariavel [(ngModel)]="formulario.numeroCRV"></p-inputMask>
    </div>


    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>Data do Leilão:</label>
      <p-inputMask type="text" name="leilao" mask="99999999" #dataLeilao [(ngModel)]="formulario.dataLeilao"></p-inputMask>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
      <label>UF de Origem</label>
      <input pInputText type="text" name="uf" #cilindros [(ngModel)]="formulario.ufOrigem">
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
          <h3>Dados do Adquirente/Arrendatário</h3>
    </div>

    <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Nome do Adquirente/Arrendatário:</label>
        <input pInputText name="nomeAd" #nomeAdquirente [(ngModel)]="formulario.nomeAdquirente">
    </div>

    <div class="ui-g-3 ui-md-3 ui-fluid">
        <label>CNPJ</label>
       <input pInputText type="text" name="cnpj" #cnpj [(ngModel)]="formulario.cnpj" readonly="readonly">
    </div>

    <div class="ui-g-9 ui-md-3 ui-fluid">
        <label>CNPJ do Adq./Arrendatário:</label>
        <p-inputMask type="text" mask="99999999999999" name="cnpjNu" #cnpjNumero [(ngModel)]="formulario.cnpjNumero"></p-inputMask>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Município do Emplacamento:</label>
        <input pInputText type="text" name="municipio" #cnpjNumero [(ngModel)]="formulario.municipioEmplacamento">
      </div>

      <div class="ui-g">
        <div class="ui-g-12">
          <h3>Endereço do Adquirente/Arrendatário</h3>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <label>CEP:</label>
      <p-inputMask type="text" mask="99999-999" name="cep" #cep [(ngModel)]="formulario.cep"></p-inputMask>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Endereço:</label>
        <input pInputText type="text" name="endereco" #endereco [(ngModel)]="formulario.endereco">
      </div>

      <div class="ui-g-3 ui-md-3 ui-fluid">
        <label>Numero:</label>
        <input pInputText name="numeroEd" #numero [(ngModel)]="formulario.numero">
      </div>

      <div class="ui-g-9 ui-md-3 ui-fluid">
        <label>Complemento:</label>
        <input pInputText type="text" name="complemento" #complemento [(ngModel)]="formulario.complemento">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Bairro:</label>
        <input pInputText type="text" name="bairro" #bairro [(ngModel)]="formulario.bairro">
      </div>

      <div class="ui-g-12">
        <h3>Endereço para Correspondência</h3>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Endereço de Correspondência igual ao Residencial?</label>
          <input pInputText type="text" name="cnpj" #cnpj [(ngModel)]="formulario.enderecoCorrespondencia" readonly="readonly">
      </div>

      <div class="ui-g-12">
        <h3>Dados do Proprietário Anterior</h3>
      </div>

      <div class="ui-g-3 ui-md-3 ui-fluid">
        <label>CPF / CNPJ</label>
        <input pInputText type="text" name="cpf" #cnpjNumero [(ngModel)]="formulario.cpf">
      </div>

      <div class="ui-g-9 ui-md-3 ui-fluid">
        <label>CPF/CNPJ do Proprietário Anterior:</label>
        <input pInputText type="" name="cpfNu" #cpfNumero [(ngModel)]="formulario.cpfNumero">
      </div>

      <div class="ui-g-12">
        <h3>Motivo Judicial/Perdimento</h3>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Motivo Judicial/Perdimento:</label>
        <input pInputText type="text" name="judicial" #cnpjNumero [(ngModel)]="formulario.motivoJudicial">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Número da Ordem Judicial:</label>
        <input pInputText type="text" name="ordem" #cpfNumero [(ngModel)]="formulario.ordemJudicial">
      </div>

      <div class="ui-g-12">
        <h3>Modalidade de Financiamento e Dados do Veículo</h3>
      </div>


      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Modalidade de Financiamento:</label>
        <input pInputText type="text" name="financiamento" #cnpjNumero [(ngModel)]="formulario.financiamento">
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Categoria:</label>
        <input pInputText type="text" name="categ" #cnpjNumero [(ngModel)]="formulario.categoria">
      </div>

      <div class="ui-g-3 ui-md-3 ui-fluid">
        <label>N° de Cilindros:</label>
        <p-inputNumber type="text" name="cilindros" #cilindros [(ngModel)]="formulario.cilindros"></p-inputNumber>
      </div>

      <div class="ui-g-3 ui-md-3 ui-fluid">
        <label>Isento de IPVA:</label>
        <input pInputText type="text" name="ipva" #cnpjNumero [(ngModel)]="formulario.ipva">
      </div>


      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Atividade:</label>
        <input pInputText type="text" name="atividade" #cnpjNumero [(ngModel)]="formulario.atividade">
      </div>

      <div class="ui-g-12">
        <h3>Alterar Características do Veículo</h3>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Deseja fazer alteração(ões) em alguma(s) característica(s) do veículo?</label>
        <input pInputText type="text" name="caratc" #cnpjNumero [(ngModel)]="formulario.alterarCaracteristicas">
      </div>

      <div class="ui-g-12">

        <button pButton type="submit" label="Cadastrar" (click)="adicionar(null)"></button>
        <button pButton type="submit" label="Salvar" (click)="salvar(null)"></button>
      </div>

    </div>
      <div class="ui-g">
          <div class="ui-g-12">
      </div>
    </div>

</div>
